@import "tailwindcss";

@theme {
  --color-unlScarlet: #D00000;
  --color-unlCream: #FDFBF7;
  --color-academicPurple: #4B0082;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-unlCream);
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}